<table width="100%" border="0" height="100%" align="CENTER"  bgcolor="#aa0000">
    <tr><td align="CENTER">  
<img src= <%= @profile_pic %> alt= <%= @name %> style="width:200px;height:200px;float:middle">

  <br>
 
<h1><font color="lightblue" size = 6><%= @name %></h1>
<p><font color="lightblue" size = 5><%= @description %></p>
    </td></tr> 
</table>



<% @contents.each do |c| %>

<table width="100%" border="0" height="100%" align="CENTER">

<font color="black">
    <% if c.type == "post" %>
        <hr>
        <img src= <%= @profile_pic  %> alt= <%= @name %> style="width:50px;height:50px;float:left">
        <p style="margin-left: 65px; "> <font size = 4 > <%= c.contents.force_encoding("utf-8") %><br>
        <font size = 3> <font color=#770000> <%= get_likes_subtext(c) %> <font color=#000000></p>
        
        <% # Fetch Replies %> 
        <% get_replies(c).each do |r| %>
            <img src= <%= get_img_link(r.author)  %> alt= <%= @name %> style="width:30px;height:30px;float:left;margin-left: 50px;">
            <p style="margin-left: 90px; "> <font size = 3 > <%= r.contents.force_encoding("utf-8") %><br>
            <font size = 2> <font color=#770000> <%= get_likes_subtext(r) %> <font color=#000000></p>
        <% end %>

    <% end %>


</table> 
<% end %>



