<table width="100%" border="0" height="100%" align="CENTER"  bgcolor="#aa0000">
    <tr><td align="CENTER">  
<img src= <%= @profile_pic %> alt= <%= @name %> style="width:200px;height:200px;float:middle">

  <br>
 
<h1><font color="lightblue" size = 6><%= @name %></h1>
<p><font color="lightblue" size = 5><%= @description %></p>
    </td></tr> 
</table>



<% @contents.each do |c| %>
<hr>
<table width="100%" border="0" height="100%" align="CENTER">


    <% if c.type == "reply" #replied to someone %>
        <img src= <%= get_img_link(c.id) %> alt= <%= @name %> style="width:50px;height:50px;float:left">
        <p style="margin-left: 70px;"> <font size = 4 >REPLY: <%=  c.content %> </p>
    <% elsif c.type == "post" %>
        <img src= <%= @profile_pic  %> alt= <%= @name %> style="width:50px;height:50px;float:left">
        <p style="margin-left: 70px; "> <font size = 4 > <%= c.content.force_encoding("utf-8") %></p>
    <% end %>


</table> 
<% end %>



